<form class="review-form" name="reviewForm" ng-submit = "insertdata();"> 
	<input type="text" placeholder = "Name" name="userName" required ng-model = "inputUserName" ng-minlength = "3" ng-maxlength = "12" ng-pattern = "/^[a-zA-Z0-9_-]{3,16}$/"></input>
	<span ng-show = "reviewForm.userName.$error.minlength"> user name must be at least three characters </span>
	<span ng-show = "reviewForm.userName.$error.maxlength"> user name must be at most twelve characters </span>
	 <br>
	<input name = "reviewEmail" type="email" placeholder = "Email Address" required ng-model = "inputUserEmail" ng-pattern = "/^[-a-z0-9~!$%^&*_=+}{\'?]+(\.[-a-z0-9~!$%^&*_=+}{\'?]+)*@([a-z0-9_][-a-z0-9_]*(\.[-a-z0-9_]+)*\.(aero|arpa|biz|com|coop|edu|gov|info|int|mil|museum|name|net|org|pro|travel|mobi|[a-z][a-z])|([0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}))(:[0-9]{1,5})?$/i"></input> 
	<span ng-show = "reviewForm.reviewEmail.$invalid && reviewForm.reviewEmail.$dirty">email format is invalid</span>
	<br>
	<textarea name="textArea" rows = "4" placeholder = "Add your review!" required ng-model = "inputUserReview" ng-minlength = "3"></textarea>
	
	<div class="star-container">
		<div class="star-rating">
	  		<input type="radio" name="rating" value="1" ng-model="nrStars" ng-change="updateStar(1)"><i></i>
	  		<input type="radio" name="rating" value="2" ng-model="nrStars" ng-change="updateStar(2)"><i></i>
	  		<input type="radio" name="rating" value="3" ng-model="nrStars" ng-change="updateStar(3)"><i></i>
	  		<input type="radio" name="rating" value="4" ng-model="nrStars" ng-change="updateStar(4)"><i></i>
	  		<input type="radio" name="rating" value="5" ng-model="nrStars" ng-change="updateStar(5)"><i></i>
		</div>
		<button class = "style-button" type="submit" ng-disabled="reviewForm.$invalid"  >Add my review!</button>
	</div>


</form>
<h6>Search By:</h6>
<label>Any: <input ng-model="search.$"></label> 
<label>UserName: <input ng-model="search.userName"></label>
<label>ReviewText: <input ng-model="search.userReview"></label>

<div class="review-comments" >


	<div class="user-review" ng-repeat = "review in userReviews | startFrom:currentPage*pageSize | limitTo:pageSize | filter:search">
		
		<review-info index="{{$index}}" info = "review"></review-info>
	</div>


</div>

	<button class="style-button nav-button" ng-disabled="virtualCurrentPage == 0" ng-click="prevReviews()">Previous</button>
    {{virtualCurrentPage+1}}/{{numberOfPages()}}
    <button class="style-button nav-button" ng-disabled="virtualCurrentPage >= databaseSize/pageSize - 1" ng-click="nextReviews()">Next</button>
    <input type="number" ng-model = "pageSize" min = "1"></input>
    