		<div class="contact">
			<img src="http://www.gravatar.com/avatar/{{ info.userEmail }}?s=110" alt="Avatar">
			 <br>
			<span>{{info.userName}}</span>
		</div>
		<p class="review-text">
			{{info.userReview}}
		</p>
	
		<div class="star-container star_review">
			<div class="star-rating" ng-checked="makeStar(info.rating)">
		  		<input type="radio" name="rating{{index}}" value="1" checked="false"><i></i>
		  		<input type="radio" name="rating{{index}}" value="2" checked="false"><i></i>
		  		<input type="radio" name="rating{{index}}" value="3" checked="false"><i></i>
		  		<input type="radio" name="rating{{index}}" value="4" checked="false"><i></i>
		  		<input type="radio" name="rating{{index}}" value="5" checked="false"><i></i>
			</div>
		</div>