
body {
	max-width: 960px;
	margin: 0 auto;
}


.review-form > input, textarea {
	margin-top: 10px;
	padding: 10px;
  	border: solid 1px #dcdcdc;
  	transition: box-shadow 0.3s, border 0.3s;
}


.review-form > input:focus, textarea:focus  {
	/*border: solid 1px #707070;*/
  box-shadow: 0 0 5px 1px #969696;
  outline: none;
}

.review-form > textarea {
  resize: none;
  width: 70%;
  display: inline-block;

}

.review-form > span {
  color: red;
  font-size: 14px;
}



.star-container {
  display: inline-block; 
  /*vertical-align: top;*/
}

.star_review {
  
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}



.star-rating {
  font-size: 0;
  white-space: nowrap;
  width: 125px;
  height: 25px;
  overflow: hidden;
  position: relative;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjREREREREIiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
  margin-bottom: 28px;
  margin-left: 25px;
}

.star-rating i {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 20%;
  z-index: 1;
  background: url('data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiB4bWw6c3BhY2U9InByZXNlcnZlIj48cG9seWdvbiBmaWxsPSIjRkZERjg4IiBwb2ludHM9IjEwLDAgMTMuMDksNi41ODMgMjAsNy42MzkgMTUsMTIuNzY0IDE2LjE4LDIwIDEwLDE2LjU4MyAzLjgyLDIwIDUsMTIuNzY0IDAsNy42MzkgNi45MSw2LjU4MyAiLz48L3N2Zz4=');
  background-size: contain;
}

.star-rating input {
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0;
  width: 20%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index: 2;
  position: relative;
}


.star_review input{
  pointer-events: none;
}
.star-rating input[checked='false'] + i {
  opacity: 0 !important;
}

.star-rating input:hover + i,
.star-rating input:checked + i,
.star-rating input[checked='true'] + i {
  opacity: 1;
}

.star-rating i ~ i {
  width: 40%;
}

.star-rating i ~ i ~ i {
  width: 60%;
}

.star-rating i ~ i ~ i ~ i {
  width: 80%;
}

.star-rating i ~ i ~ i ~ i ~ i {
  width: 100%;
}


.star-container > button {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  font-family: Courier New;
  color: #ffffff;
  background: #3498db;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  /*display: inline-block;*/
  vertical-align: bottom;
  margin-bottom: 4px;

}

.star-container > button:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.star-container > button:disabled {
  
  opacity: 0.3;
}


.review-comments {

  margin-top: 30px;
  border: 1px solid #dcdcdc;
  height: 400px;
  overflow-y: scroll; 
}

.user-review {
  margin: 25px;
  border: 1px solid #dcdcdc;
  position: relative;
}

.user-review > .star-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;

}


.contact {
  display: inline-block;
  margin-top: 10px;
  margin-left: 10px;
  text-align: center;
}

.contact > img {
  margin-bottom: 10px;
  
}

.review-text {
  display: inline-block;
  vertical-align: top;
  width: 64%;
}

.review-form > .ng-valid:focus {
  border: 1px solid #66FF33;
}

.review-form > .ng-invalid:focus {
  border: 1px solid red;
}


.review-form > .ng-valid {
  border: 1px solid #66FF33;
}

.review-form > .ng-invalid {
  border: 1px solid red;
}

.review-form > .ng-pristine {
  border: 1px solid black;
}

input[type="number"] {
   width:50px;
}